/* Fonts */
$base-font-size: 16px !default;
$base-font-style: 'Poppins', Arial, Helvetica, sans-serif !default;

/* Colors */
$black: #000 !default;
$white: #fff !default;
$grey: #ccc !default;
$navy: #0a5686!default; 
$navy-dark: #06314b!default;

/* Border */
$border-default: 1px solid $grey !default;

/* Viewports */
$xs-min: 479px !default;
$xs-max: 480px !default;
$sm-min: 767px !default;
$sm-max: 768px !default;
$md-min: 1024px !default;
$md-max: 1025px !default;